.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .spinner-container {
    padding: 20px;
  }

  .spinner-container > * {
    height: 80;
    width: 80;
  }
}

@media (max-width: 480px) {
  .spinner-container {
    padding: 10px;
  }

  .spinner-container > * {
    height: 60;
    width: 60;
  }
}
