@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: 'ElMessiri-Bold';
  src: url('./Fonts/ElMessiri-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ElMessiri-Regular';
  src: url('./Fonts/ElMessiri-Regular.ttf') format('truetype');}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
i ,
link,
a{
  cursor: pointer;
  font-family: 'ElMessiri-Bold';

}
.clander{
  font-family: 'ElMessiri-Bold';
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: rgb(107, 119, 122);
}
/*-----------global-----------*/
.container {
  max-width: 90%;
  margin: auto;
}
.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.paddingTB {
  padding: 40px 0;
}
.paddingSmall {
  padding: 20px 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.category {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 2px;
  background-color: purple;
}
.row {
  width: 50%;
}
.images {
  position: relative;
}
