 /* *{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
}
.h-100{
    height: 100vh;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.row .col-12{
    width: 100%;
}

.row .col-6 {
    width: 50%;
}  
.form{
    background-image: linear-gradient(120deg , rgb(255, 225, 225, 0.8) 0% , rgb(255, 255, 255 , 0.8) 50%, transparent 50%);
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    margin-left: 500px;
    margin-top: 120px;
    padding: 30px;
  
} 

.form-control{
    margin-bottom: 20px;
    position:relative;
    
}

.form-control label,
.form-control input {
    display: block;
}

.form-control label{
    position: absolute;
    top: -18px;
    left: 0;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}

.form-control input{
    padding: 20px 20px;
    outline: none;
    border-radius: 3px;
    border: 0;
    background-color: white;
    width:100%;
    border-bottom: 3px solid transparent;
    font-family: "Lato",sans-serif;
}     */


.logpass2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('pho.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapperpass2{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255,0.8);
    backdrop-filter: blur(80px);
    color: #fff; 
    border-radius: 10px;
    padding: 30px 40px;
    height: 50vh;
}
.wrapperpass2 h1{
    font-size: 36px;
    text-align: center;
}
.input3{
    margin-top: 33px;
}
.wrapperpass2 .input-boxpass2{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-boxpass2 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
     color: #fff; 
     padding: 20px 45px 20px 20px;
    
}
.input-boxpass2 input::placeholder {
    color: #fff;
}
.input-boxpass2 .icon2{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
}
.input2 .icon2{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
}
.input2 .icon3{
    position: absolute;
    right: 20px;
    top:50%;
    margin-right: 200px;
    transform: translateY(-50%);
    font-size: 16px;
}



.wrapperpass2 .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    margin-left: 210px;
}




.wrapperpass2 button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
    cursor:pointer;
    font-size: 16px;
    color:#333;
    font-weight: 700;
   margin-top: 55px;
}
.wrapperpass2 button:hover{
 background-color: black;
 color: white;
}
.wrapperpass2 .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register-link p a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
      text-decoration: underline;

}
.lo{
    color: white;
}