.button3 {
    font-weight: 500;
    font-size: 25px;
    color: white;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    padding: 1px 30px;
    width: 15%;
     height: 50px; 
    background: crimson;
    margin-top: 30px;
    margin-left: 1300px;
    margin-bottom: 70px;
    text-align: center;


}

.button1:hover {
    color: crimson;
    background-color: #e8e8e9;

}




.first {
    display: flex;
    gap: 2;
    justify-content: space-between;
    align-items: center;



}

.card {
    width: 80vw;
    background-color: #e8e8e9;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 2px;

}

.form-header {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  .form-error {
    color: #f00; 
    /* margin-bottom: 16px; */
    font-size: 14px;
    font-weight: bold;
  }
  .text-danger{
    margin-left: 60px;
    font-weight: bold;
  }